.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.inner {
  text-align: center;
}

.inner-img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.homeadjust {
  margin-top: 4em !important;
}

.green-color {
  color: green;
}

.lang-names {
  font-size: 1.7em;
  font-weight: bold;
}

.dashed-line {
  border: 3px dashed red;
}


.nav-text-link {
  font-weight: bold;
  cursor: pointer;
}

.header-name {
  font-weight: bold;
  font-size: 4em
}

.header-anim {
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: animtext 4s steps(80, end);
  animation-iteration-count: infinite;
  transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

@keyframes animtext {
  from {
    width: 0;
    transition: all 2s ease-in-out;
  }
}

.textAnim {
  color: #333;
  font-family: tahoma;
  font-size: 3rem;
  /* font-weight: 100; */
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.textAnim span {
  font-size: 30px;
  margin-left: 40px;
}

.message {
  background-color: yellow;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 2em;
  animation: openclose 15s ease-in-out infinite;
}

.word1,
.word2,
.word3 {
  font-family: tahoma;
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }

  5% {
    width: 0;
  }

  15% {
    width: 100%;
  }

  30% {
    top: 0.2rem;
    width: 100%;
  }

  33% {
    top: 0.2rem;
    width: 0;
  }

  35% {
    top: 0.2rem;
    width: 0;
  }

  38% {
    top: -4.5rem;

  }

  48% {
    top: -4.5rem;
    width: 100%;
  }

  62% {
    top: -4.5rem;
    width: 100%;
  }

  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }

  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }

  86% {
    top: -9rem;
    width: 100%;
  }

  95% {
    top: -9rem;
    width: 100%;
  }

  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }

  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}

.mydivclass {
  overflow-x: hidden;
  overflow-y: auto;
}